%script{:type => "text/javascript", :src => "/javascripts/presenter_client.js"}
%script{:type => "text/javascript", :src => "/javascripts/client.js"}

.row
  .large-12.columns
    %h1{} Welcome to Bible Presenter Client
    #results
      #text
      #copyright_container

#fums_container