.row
  .large-12.columns
    %h1{} Welcome to Bible Presenter

%form{id: 'passage_search'}
  .row
    .large-6.small-12.columns
      .row
        .large-12.columns
          %label Bible Passage
          %input{type: 'text', placeholder: 'Jhn 3:16'}
          %a{id: 'do_search', href: '#', class: 'button'} Search
          %span#colorwheel_container.hidden
            #colorwheel.spinner.colorwheel
              .centerpiece

      .row
        .large-6.small-12.columns
          #results