%script{:type => "text/javascript", :src => "/javascripts/application.js"}

.row
  .large-12.columns
    %h1{} Welcome to Bible Presenter

%form{id: 'passage_search'}
  .row
    .large-6.small-12.columns
      .row
        .large-12.columns
          %label Bible Passage
          %input{type: 'text', placeholder: 'Jhn 3:16'}
          %input{type: 'submit', value: 'Search', id: 'do_search', class: 'button'}
          %span#colorwheel_container.hidden
            #colorwheel.spinner.colorwheel
              .centerpiece

      .row
        .large-12.columns
          #results
            #text
            %aside.reference
            #copyright_container

#fums_container